In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
os.getcwd() + "\\data\\train.jasonl"

'c:\\Users\\Sam\\Documents\\OttoCompetition\\data\\train.jasonl'

In [4]:
train_sessions = pd.DataFrame()
chunks = pd.read_json(os.getcwd() + "\\data\\train.jsonl", lines=True, chunksize=100_000)

for e, chunk in enumerate(chunks):
    event_dict = {
        'session': [],
        'aid': [],
        'ts': [],
        'type': [],
    }
    if e < 2:
        for session, events in zip(chunk['session'].tolist(), chunk['events'].tolist()):
            for event in events:
                event_dict['session'].append(session)
                event_dict['aid'].append(event['aid'])
                event_dict['ts'].append(event['ts'])
                event_dict['type'].append(event['type'])
        chunk_session = pd.DataFrame(event_dict)
        train_sessions = pd.concat([train_sessions, chunk_session])
    else:
        break
     
train_sessions = train_sessions.reset_index(drop=True)
train_sessions.to_parquet(os.getcwd() + "\\data\\train.pqt")

In [5]:
test_sessions = pd.DataFrame()
chunks = pd.read_json(os.getcwd() + "\\data\\test.jsonl", lines=True, chunksize=100_000)

for e, chunk in enumerate(chunks):
    event_dict = {
        'session': [],
        'aid': [],
        'ts': [],
        'type': [],
    }
    if e < 2:
        for session, events in zip(chunk['session'].tolist(), chunk['events'].tolist()):
            for event in events:
                event_dict['session'].append(session)
                event_dict['aid'].append(event['aid'])
                event_dict['ts'].append(event['ts'])
                event_dict['type'].append(event['type'])
        chunk_session = pd.DataFrame(event_dict)
        test_sessions = pd.concat([test_sessions, chunk_session])
    else:
        break
     
test_sessions = test_sessions.reset_index(drop=True)
test_sessions.to_parquet(os.getcwd() + "\\data\\test.pqt")

In [6]:
test_sessions

         session      aid             ts    type
0       12899779    59625  1661724000278  clicks
1       12899780  1142000  1661724000378  clicks
2       12899780   582732  1661724058352  clicks
3       12899780   973453  1661724109199  clicks
4       12899780   736515  1661724136868  clicks
...          ...      ...            ...     ...
928110  13099776  1159407  1661844072138  clicks
928111  13099776   546448  1661844142618  clicks
928112  13099777   468584  1661795832787  clicks
928113  13099778   926609  1661795832939  clicks
928114  13099778  1025490  1661795863820  clicks

[928115 rows x 4 columns]